body{
    margin: 0;
    padding: 0;
}

.main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.posts-container{
    width: 30%;
    display: flex;
    flex-direction: column;
}

.post{
    width: 100%;
    min-height: 250px;
    height: auto;
    background: rgb(225, 225, 255);
    border-radius: 12px;
    margin: 20px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
}


.title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 25px;
}

.post button, .ver-todos{
    width: 50%;
    height: 40px;
    border-radius: 30px;
    border: none !important;
    margin-top: 30px;
    background: blue;
    color: white;
    cursor: pointer;
}

.comment{
    width: 90%;
    min-height: 60px;
    background: white;
    border-radius: 1px 20px 20px 20px;
    margin-top: 25px;
    display: flex;
    text-align: start;
    padding: 10px;
}

.comment img{
    width: 45px;
    height: 45px;
    border-radius: 30px;
}

.msg-container{
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.title-msg{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

.msg{
    font-size: 14px;
}

.email{
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin-top: 12px;
    color: rgb(95, 93, 93);
}

.ver-todos{
    width: 280px;
    margin-bottom: 20px;
    padding-left: 10px;
    background: #343466;
}

button img{
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}