body{
    margin: 0;
    padding: 0;
}

.main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.posts-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.post{
    height: 250px;
    background: red;
    border-radius: 12px;
    margin: 20px;
    box-shadow: 4px 2px 4px rgba(0,0,0,0.5);
}